# Ignore the node _modules directory
/node_modules
/Project_01_NO_Guessing_Game

# Ignore any built TypeScript files (JavaScript output)
/dist

# Ignore editor/IDE_specific files and directories 
.vscode 
.idea
.DS_Store
